* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}




header {
    background-color: #ec715f;
    
    height: 70px;
}

.container {
    /* width: 1024px; */
    display: flex;
}

.navindex {
    
    height: 70px;
    display: flex;
    text-align: center;

}


.logo {
    width: 15%;
    height: 50%;
}

.navtagindex {
    margin-left: auto;
}

.navtags {
    display: flex;
}

.navtag {
    display: inline-block;
    list-style: none;
    display: flex;
    
    
    
} 




/* .container {
    width: 1024px;
    height: 70px;
    margin: 0 auto;
    display: flex;
} */

/* .homename {
    width: 1024px;  */
    /* height: 70px;
    /* margin: 0 auto;

}

.imagelogo {
    height: 70px;
}
.logo {
    width: 30%;
    height: 100%;
}

.navs {
    width: 1024px;
    height: 70px;
    line-height:70px;
    margin: 0 auto;
    text-align: right;
}

.navtags {
    text-align: right;
}

.navtag {
    display: inline-block;
    list-style: none;
    display: flex;
    justify-content: right; 
    
    
} 